publish
ebooks/warrior-code/sys-core-doc/Text/license.xhtml
ebooks/warrior-code/padded-weapon-rules-doc/Text/license.xhtml
ebooks/warrior-code/padded-weapon-rules-doc/Text/srd-topic-weapon-grouping-classes.xhtml
ebooks/warrior-code/padded-weapon-rules-doc/Text/srd-topic-weapon-mass-classes.xhtml
ebooks/warrior-code/padded-weapon-rules-doc/Text/srd-topic-weapon-part-definitions.xhtml
ebooks/warrior-code/padded-weapon-rules-doc/Text/srd-topic-weapon-size-classes.xhtml